
body {
    background-image: url("../assets/destination/background-destination-desktop.jpg");
    background-repeat: no-repeat;  
    font-family: 'Barlow Condensed', sans-serif; 
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: 100%;
}


.destination {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.destination-header {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 4.72px;
    margin: 2em 0 1.5em 6em;
}

.dst-col {
    width: 40%;
}

.destination__img {
    width: 450px;
    height: 450px;
    
    animation: rotate 50s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.destination__list {
    display: flex;
    list-style: none;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    
}

.destination__list--item {
    border-bottom: 3px solid transparent;
    padding-bottom: .725em;
}

.active {
    color: #fff !important;
    border-bottom: 3px solid #fff;
}


.destination__list--item:hover {
    border-bottom: 3px solid #fff;
    cursor: pointer;
}

.destination__list--item:hover .destination__list--link{
    color: #fff;
}


.destination__list--item + .destination__list--item {
    margin-left: 2.125em;
}

.destination__text-bg {
    display: block;
    font-family: 'Bellefair', serif;
    font-size: 100px;
    text-transform: uppercase;
    margin: .225em 0;
}

.destination__text-rg {
    font-size: 18px;
    color: #D0D6F9;
    line-height: 1.6;
    margin-bottom: 2em;
}

.stats {
    display: flex;
}

.distance span,
.time span {
    color: #D0D6F9;
    text-transform: uppercase;
    letter-spacing: 2.36px;
}

.distance p, 
.time p {
    font-family: 'Bellefair', serif;
    font-size: 28px;
    margin: .725em 0;
    text-transform: uppercase;
}

.distance p {
    padding-right: 3em;
}

.accent {
    color: #333;
    font-weight: bolder;
}
.hr {
    display: block;
    position: inherit;
    width: 100%;
    margin-bottom: 1em;
}
@media (max-width:600px) {
    .active {
        border-right: none;
    }
}

@media (max-width:1100px) {
    body {
        background-image: url("../assets/destination/background-destination-tablet.jpg");
        background-repeat: no-repeat;  
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        height: 100vh;
    }

    header {
        margin-top: 0;
    }

    .destination {
        flex-flow: column nowrap;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin: 4vh auto;
    }

    .dst-col {
        width: 80%;
    }
    .destination-header {
        font-size: 20px;
        letter-spacing: 3.38px;
        margin: 1.5em 0 1.5em 3em;
    }

    .destination__img {
        width: 300px;
        height: 300px;
    }

    .destination-nav {
        display: flex;
        justify-content: center;
        margin-top: 2.25em;
    }

    .destination__text-bg {
        font-size: 80px;
    }

    .stats {
        justify-content: space-evenly;
    }

    .distance p, 
    .time p {
       padding-right: 0;
    }

    .distance span,
    .time span {
        font-size: 14px;
        letter-spacing: 2.36px;
    }

}

@media (max-width:640px) {

    body {
        background-image: url("../assets/destination/background-destination-mobile.jpg");
        background-repeat: no-repeat;  
        background-size: cover;
    }

    .destination-header {
        font-size: 16px;
        letter-spacing: 2.7px;
        margin: 1.5em auto;
        text-align: center;
    }

    .close {
        display: none;
        position: absolute;
        right: 0;
        z-index: 13;
        margin-right: 1.3em;
    }

    .dst-col {
        width: 100%;
    }
    .destination__img {
        width: 170px;
        height: 170px;
    }

    .destination__list--item {
        padding-bottom: .425em;
    }

    .destination__list--item + .destination__list--item {
        margin-left: 1.125em;
    }

    .destination__text-bg {
        font-size: 56px;
    }

    .destination__text-rg {
        font-size: 15px;
        margin-bottom: 1.4em;
    }
    
    .stats {
        flex-flow: column nowrap;
        margin-top: 1.4em;
    }

    .distance p, 
    .time p {
        margin: .425em 0;
    }

    .list {
        height: 100%;  
        max-height: -webkit-fill-available;
        position: fixed;
        top: 0;
        right: -250px;
        flex-flow: column nowrap;
        z-index: 12;
        padding: 8em 0 0 0;
    }

    
    #check:checked ~ .list {
        right: 0;
    }

    #check:checked  ~ label .close {
        display: inline;
    }

    #check:checked  ~ label .hamburger{
        display: none;
    }

    .list__item {
        line-height: 3;
        border-bottom: 0;
        border-right: 3px solid transparent;
        margin-left: 3em;
        padding-right: 4em;
    }

    .list__link {
        color: #fff;
    }
    
    .list__item:hover {
        border-bottom: 0;
        border-right: 3px solid #fff;
    }  

    .hamburger {
        display: inline;
        margin-right: 1.3em;
        padding-top: 1.5em;
    }

    .logo {
        transform: scale(70%);
        padding-top: 1.5em;
    }

    .active {
        border-bottom: 3px solid #fff;
        border-right: none;
    }

    .list .active {
        border-bottom: none;
        border-right: 3px solid #fff;
    }
}

@media (max-width:375px) {
    body {
        background-size: cover;
        height: 100%;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
 
}